/* NAVBAR */

#navigation-bar{
    padding: 0 5%;
    
}
.navbar{
    background-color:  #FFF !important;
    height: 14%;
}

.colored-section{
    background-color:  #F8FAE5 !important;
}

.navbar-brand{
    width: 18%;
    padding-left: 6%;
}

.navbar-nav .nav-item a {
    color: gray !important;
    font-family: 'Outfit', sans-serif !important;
}

.navbar-nav .nav-item a:hover{
    color: black !important;
}

.order-button{
    margin-right: 9% !important;
}
.order-button:hover{
    background-color: #555;
}



/* MENU */
/* HEADER */

#header{
    padding: 3% 7% 1%;
    margin-right: 0px;
}

.heading-font{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.description-font{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
}


.heading{
    color: #EE7214;;
    text-align: right;
    font-size: 5.9rem;
    padding-top: 5%;
}

.heading-description{
    padding: 4% 0%;
}


.how-to-appvitite{
    font-family: 'Salsa', cursive;
    padding: 3% 3%;
    color: #EE7214;;
    font-size: 2.5rem;
}

.how-to-heading{
    font-size: 1.5rem;
    font-weight: bold;
}

.how-to-description{
    font-size: 0.7rem;
}

#header .col-lg-4 {
    border-left: 1px dashed #ccc; /* Add a left border to create a vertical line */
    padding-left: 12px; /* Add some padding for spacing */
}

.slow-crafted{
    padding-top: 4%;
    font-weight: bold;
}

#header img{
    border-radius: 100%;
    width: 90%;
    padding: 5% 2% 2%;
}





/* ENTREES */
#entrees{
    padding: 1.5% 7% 3%;

}

.dashed-border{
    border-right: 1px dashed #ccc;
    padding-left: 12px;
}

.food-image{
    border-radius: 100%; 
    width: 70%; 
    padding: 5% 2%;
}

.food-heading{
    color: #EE7214;;
    font-size: 4rem;
}

.food-description{
    font-size: 0.7rem;
}

/* SIDES */

#sides{
    padding: 3% 7%;
}

/* DESSERTS */

#desserts{
    padding: 3% 7%;
}

/* DRINKS */

#drinks{
    padding: 3% 7%;
}


/* VIP STATUS */



.outer-div{
    /* background-color:  #FFCF81; */
    padding: 3% 10% 8%;
}

.inner-div{
    font-family: 'Roboto Condensed', sans-serif;
    /* background-color: #FBF9F1; */
    /* background-color: #FFCF81; */
    background-color: #FFFBAC;
    border-radius: 18%;
    padding: 8% 7% 8%;
 
}

.vip-status-image{
    padding: 3rem;
    border-radius: 100%;
    width: 135%;
    border: #ccc;
    border-width: 3px;
}

.skip-the-line{
    width: 12%;
    z-index: 3;
    position: absolute;
}

#vipstatus .p{
    padding-top: 3%;
    line-height: 2;
    transform: rotate(-3deg);
    font-size: 2rem;
    font-style: italic;
}

#vipstatus .img{
    text-align: right;
    z-index: 0;
}

#vipstatus h1{
    font-size: 7rem;
    line-height: 0.4;
    font-weight: bold;
    color: #EE7214;
}

#vipstatus p{
    padding: 5% 40% 0% 0%;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#vipstatus .btn{
    margin: 3% 0;
    font-size: 120%;
}



/* CREDITS */
#credits{
    background-color: #F6BA6F;
    font-family: 'Outfit', sans-serif !important;
    padding: 1% 15%;
    text-align: center;
}

.footer{
    padding-top: 2%;
}

.footer-logo{
    width: 50%;
}
.fa-brands{
    padding: 3% 3%;
}

.address{
    padding: 5% 7% 2%;
}
