/* NAVBAR */

#navigation-bar{
    padding: 0 5%;
    
}

.colored-section{
    background-color:  #F8FAE5;
}

.navbar-brand{
    width: 17%;
}

.navbar-nav .nav-item a {
    color: gray !important;
    font-family: 'Outfit', sans-serif !important;
}

.navbar-nav .nav-item a:hover{
    color: black !important;
}



/* CAROUSEL */
.display-image-carousel{
    width: 85%;
    padding-left: 10%;
    margin-left: 5%;
}
.carousel-button{
    border-radius: 100%;
    background-color: black;
}

/* Open for lunch */
.open-for-lunch{
    text-align: center;
    padding: 4% 18%;
    font-family: 'Outfit', sans-serif !important;
}
.announcement-icon{
    padding-top: 4%;
    margin-bottom: 2%;
}

/* MAP */
#map{
    padding: 5% 0.25%;
}

.map{
    width: 100%;
    height: 600px;
}

/* CREDITS */
#credits{
    background-color: #EAD196;
    font-family: 'Outfit', sans-serif !important;
    padding: 5% 15%;
    text-align: center;
}

.footer{
    padding-top: 2%;
}

.footer-logo{
    width: 50%;
}
.fa-brands{
    padding: 3% 3%;
}

.address{
    padding: 5% 5% 2%;
}