body{
    padding-top: 5%;
}


/* NAVBAR */

#navigation-bar{
    padding: 0 5%;
    
}
.navbar{
    background-color:  #FFF !important;
    height: 14%;
}

.colored-section{
    background-color:  #F8FAE5 !important;
}

.navbar-brand{
    width: 52%;
    padding-left: 15%;
}

.navbar-nav .nav-item a {
    color: gray !important;
    font-family: 'Outfit', sans-serif !important;
}

.navbar-nav .nav-item a:hover{
    color: black !important;
}

.nav-elements{
    padding-right: 25% !important;
}

.order-button{
    margin-right: 12% !important;
}
.order-button:hover{
    background-color: #555;
}





/* CAROUSEL */
#carousel-images{
    padding-top: 3%;
    padding-bottom: 5%;
}
.display-image-carousel{
    width: 85%;
    padding-left: 10%;
    margin-left: 5%;
}
.carousel-button{
    border-radius: 100%;
    background-color: black;
}

/* Open for lunch */
.open-for-lunch{
    text-align: center;
    padding: 4% 18%;
    font-family: 'Outfit', sans-serif !important;
}
.announcement-icon{
    padding-top: 4%;
    margin-bottom: 2%;
}

/* Difference */


.diff-img {
    width: 70%;
    display: block; /* Added to center the image */
    margin: 0 auto; /* Added to center the image */
}
.diff-about-us-btn{
    text-align: right;
    margin-top: 5%;
    margin-right: 9.5%;
    padding: 0.5% 0.5%;
}

/* Container needed to position the button. Adjust the width as needed */
.contains {
    position: relative;
    text-align: center;
}
  
  /* Make the image responsive */
  .contains img {
    width: 70%;
    height: auto;
  }
  .appvitite-diff{
    text-align: center;
}
  
  /* Style the button and place it in the middle of the container/image */
  .contains .btn {
    position: absolute;
    top: 88%;
    left: 51%; /* Changed to 50% for better center alignment */
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
  .contains .btn:hover {
    background-color: #555;
  }


/* MAP */
#map{
    padding: 5% 0.25%;
}

.map{
    width: 100%;
    height: 600px;
}

/* FOOTER */
#credits{
    background-color: #F6BA6F;
    font-family: 'Outfit', sans-serif !important;
    padding: 1% 15%;
    text-align: center;
    font-weight: bold;
}

.footer{
    padding-top: 2%;
}

.footer-logo{
    width: 50%;
}
.fa-brands{
    padding: 3% 3%;
}

.address{
    padding: 5% 7% 2%;
}







